<li>
    <h2><%= tweet.content %></h2> 
    <% if(locals.user && locals.user.id == tweet.user.id) { %>  
        <form action="/tweets/destroy/<%= tweet.id%>" method="GET">
            <input type="submit" value="Remove">
        </form>
    <% } %> 
</li>
<small><b><%= tweet.user.name %></b></small>
<div>
    <% if (locals.user) { %>
        <form action="/comments/create" method="POST">
            <input type="text" name="content" id="" placeholder="Your comment" required>
            <input type="hidden" name="tweet" id="" value="<%= tweet._id %>">
            <input type="submit" name="" id="" value="Add Comment">
        </form>
    <% } %> 
    <div>
        <ul>
            <% for(comment of tweet.comments) { %> 
                <%- include('../comments/_comment') %> 
            <% } %> 
        </ul>
    </div> 
</div>
    
<hr>