<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <%- include('../util/_header'); %>

    <% if(flash.success && flash.success.length > 0) {%> 
        <h4><%= flash.success %> </h4>
        <% console.log(flash) %> 
    <% } %> 
    <% if(flash.info && flash.info.length > 0) {%> 
        <h4><%= flash.info %> </h4>
    <% } %> 
    <%- body %>

    <%- include('../util/_footer'); %>

    <%- script %>
</body>
</html>